.container {
    margin: auto;
    max-width: 37.5rem;
}

.header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.header .addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.done  {
    text-decoration: line-through;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.875rem;
    padding: 0.9375rem;
    margin-top: 0.9375rem;
}

.item img {
    width: 1.25rem;
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* input text  & button add*/

form {
    padding: 30px;
    background-color: white;
}

.inputs-field {
    display: flex;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.1);
}

.button-add {
    padding: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}

.input-todo {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: #ccc;
    color: rgb(15, 15, 15);
    font-size: 14pt;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.hide {
    display: none;
}